DATABASE_URL=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
NEXTAUTH_SECRET=
STREAMERBOT_SHARED_SECRET=
BRIDGE_SHARED_SECRET=
PS_PLUS_SYNC_SECRET=
STEAM_SYNC_SECRET=
STEAM_STORE_COUNTRY_CODE=BR
STEAM_STORE_LANGUAGE=brazilian
YOUTUBE_API_KEY=
STREAM_YOUTUBE_CHANNEL_ID=
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
ADMIN_EMAILS=
PLATFORM_OWNER_EMAILS=
APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_GITHUB_ISSUES_URL=https://github.com/ludmila-omlopes/ludylops-youtube-dashboard/issues/new
GOOGLE_RISC_ALLOWED_AUDIENCES=
GOOGLE_RISC_SERVICE_ACCOUNT_JSON=
GOOGLE_RISC_SERVICE_ACCOUNT_FILE=
GOOGLE_RISC_RECEIVER_URL=
